@import "_vars";
@import "_global";
@import "_fonts";

.title{
    align-items: center;
    display: flex;
    margin: 30px;
    justify-content: center;
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
}
.game_container{
 display: flex;
 padding: 18px;
 background-color: £fff;
}
.menu_container{
   height: 200px;

}
.gamesWrapper{
    display: flex;
}

.item {
    margin: 30px;
    height: 60px;
    width: 300px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    background: rgba(255, 255, 255, .2);
    box-shadow: 8px 4px 15px rgba(0, 0, 0, .25), -8px -4px 15px rgba(255, 255, 255, 1), 8px 4px 15px rgba(0, 0, 0, .1) inset, -8px -4px 15px rgba(255, 255, 255, .3) inset;
    border-radius: var(--border-radius);
    &:hover{
        background-color: #fff;
    }
}